body {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #fcfcfc;
  margin: 50px;
}
viz1Link a {
  color: #555;
}
viz1Link a:hover {
  color: #000;
}
ul {
  margin: 0 20px;
  padding: 0;
}
.dark {
  background: #222;
}
#parcoordsViz,
#example-axes,
#example1,
#example2,
#example3,
#example-zscore,
#example-progressive {
  height: 200px;
  margin: 12px 0;
}
#sortHelper {
	font-size: small;
	font-style: italic;
}
.header .cell {
	cursor: pointer;
}
p {
  width: 560px;
}
pre {
  color: #444;
  font-family: Ubuntu Mono, Monaco, monospace;
  padding: 4px 8px;
  background: #f2f2f2;
  border: 1px solid #ccc;
}
h1 small {
  font-weight: normal;
  font-size: 0.5em;
}
h3 {
  margin-top: 40px;
}
.float {
  float: left;
}
.centered {
  text-align: center;
}
.hide {
  display: none;
}
input {
  font-size: 16px;
}
.red {
	color: red;
}
.blue {
	color: blue;
}
.green {
	color: green;
}
.orange {
	color: orangered;
}
.purple {
	color: purple;
}
#groupBreakdown {
	font-size: 14px;
	margin: 10px auto;
	width: 210px;
	text-align: left;
}
#viz1Helper {
	font-size: 14px;
	margin-top:10px;
	text-align: left;
	width: 500px;
}

/* data table styles */
#grid { height: 198px; }
.row, .header { clear: left; font-size: 12px; line-height: 18px; height: 18px; margin-left:0px;}
.row:nth-child(odd) { background: rgba(0,0,0,0.05); }
.header { font-weight: bold; }
.cell { float: left; overflow: hidden; white-space: nowrap; width: 75px; height: 18px; }
.col-0 { width: 100px; }
.ui-widget-content {
	border: 1px solid #FFFFFF;
	}
