html { 
        background: url('http://www.wallpaperup.com/uploads/wallpapers/2012/09/21/15656/a067860eb7f79929e4d254701ce6c674.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.transbackground {
	background: url('content/images/trans.png') repeat;
}

.bodyWrapper {
	background-color: transparent; 
	margin: 0px;	
}

.headerWrapper {
	background-color:#202120; 
	box-shadow: 0px 5px 5px black;
	padding-left: 50px;
}

.headerLinks {
  	vertical-align: middle;
    display: table-cell;
	overflow: hidden;
    white-space: nowrap;
	font-size: 18px; 
	text-decoration:none;
}

.headerLinks a:link {color:#928b89 !important;}      /* unvisited link */
.headerLinks a:visited {color:#928b89;}  /* visited link */
.headerLinks a:hover {color:#ffffff;}  /* mouse over link */
.headerLinks a:active {color:#ffffff;}  /* selected link */ 

.chartBodyWrapper {
	border: 1px solid black !important;
}